{#
/**
 * @file
 * Default theme implementation for certificate info.
 *
 * Available variables:
 * - name: The name of the certificate.
 * - issuer: The issuer of the certificate
 * - valid_from: The date the certificate is valid from.
 * - valid_to: The date the certificate is valid to.
 */
#}
<dl class="dl-horizontal">
    <dt>{{ 'Name'|t }}</dt>
    <dd>{{ name }}</dd>
    <dt>{{ 'Issued by'|t }}</dt>
    <dd>{{ issuer }}</dd>
    <dt>{{ 'Valid from'|t }}</dt>
    <dd>{{ valid_from }}</dd>
    <dt>{{ 'Valid to'|t }}</dt>
    <dd>{{ valid_to }}</dd>
</dl>
