{#
/**
 * @file
 * Default theme implementation for metadata.
 *
 * Available variables:
 * - xml_content: The content of the xml to be printed.
 */
#}
<!--?prettify lang=xml linenums=true?-->
<pre class="prettyprint">{{ xml_content|trim }}</pre>
